/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple, element-based headings 1 through 6
 */

h1, .alfa {
  @include font-size($global-font-size-h1);
  font-weight: bold;
}

h2, .bravo {
  @include font-size($global-font-size-h2);
  font-weight: bold;
}

h3, .charlie {
  @include font-size($global-font-size-h3);
  font-weight: bold;
}

h4, .delta {
  @include font-size($global-font-size-h4);
  font-weight: bold;
}

h5, .echo {
  @include font-size($global-font-size-h5);
  font-weight: bold;
}
